table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: none;
}

table.sourceCode {
  padding 0;
  margin: 0;
  width: 100%;
  line-height: 100%;
}

.sourceCode code {

  border: 0;
  padding: 0;



}


td.lineNumbers {
  //text-align: right;
  //padding-right: 4px;
  //padding-left: 4px;
  //color: #000;
  //border-right:
  //1px solid #aaaaaa;
  background-color: #aaa;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-radius: 3px 0px 0px 3px;
  width: 16px;
}

td.lineNumbers pre {

  padding: 10px 5px;
  color: #fff;
  background-color: #aaa;
  border: 0;
}

td.sourcCode {
  padding: 0;
  margin: 0;
}

td.sourceCode pre {
  
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 3px 3px 0px;

}

code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #000175; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }

