
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }

}



html {
    height: 100%;
    user-select: none;
}

a, a:active, a:link, a:visited {

    color: #781905;
}

p {
    line-height: 1.2;
}

a:hover {
    animation: blink 3s;
    animation-iteration-count: infinite;
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.30);
}

h2 {
    font-size: 2em;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.30);
}

body {
    font-family: 'serif';
    font-size: 100%;
    margin: 0 0;
    padding: 0 0;

    background-color: #1a1a1a;

    /*background-color: #781905; */
    color: #1a1a1a;

    height: 100%;
}


#border {

    background-color: #f6f5ee;
    background-image: url('http://none.io/static/noise.png');
    min-height: 100%; 
    width: 98%;
    margin: 0 auto;
    display: block;
 } 

#center {
    width: 70%;
    max-width: 740px;
    margin: 0 auto;
}

#logo {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    color: #781905;
}

#logo-post {
    width: 20%;
    margin: 0 auto;
}

#logo img {
    margin: 0 auto;

}



#head {
    padding: 5% 0 10% 0;
    text-align: center;
    font-size:  1.2em;
}

#head a, #head a:active, #head a:visited, #head a:link {
    text-decoration: none;
    color: #1a1a1a;
}

#head a:hover {
    text-decoration: underline;
}

#head ul {
    margin: 0;
    padding: 0;
}

#head li {
    display: inline;
    margin: 0 10px;
}

img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}


/* blinking arrow */

#arrow {
    margin: 30vh auto 7% auto;
    animation: blink 3s;
    animation-iteration-count: infinite;
    outline: none;
}

.article {
    padding: 5% 0 0 0;
}

.article a, .article a:visited, .article a:link {
    color: #1a1a1a;
    text-decoration: none;

    margin: 0;
}
.article p{
    font-size: 1.5em;
    font-style: italic;

    color: #781905;

}

.article a:hover {
    
    animation: blink 3s;
    animation-iteration-count: infinite;
    text-decoration: underline;
}


#foot {
    border-top: 1px solid #000;
    margin: 50px 0 0 0;
    padding: 5px 0 40px 0;
    font-size: 0.8em;
    }

.pull-center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.big-font {
    font-size: 6em;
}


pre { 
  margin: 0;
  padding: 10px 0 10px 5px;
  border-width: 1px 10px 1px 1px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 3px;
  background: #e4e4e4;
}

pre code {
  background-color: #e4e4e4;
  border: 0;
  padding: 0;


}

code {
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: rgba(228, 228, 228, 1);
    padding: 2px;

}

#content img {
    margin: 3px;
}
.gallery ul { 
    list-style-type: none;
}

.gallery li { 
    display: inline-block; 
} 
.gallery img { 
    display: inline-block; 
    width: 15em;
    border-radius: 3px;
}

blockquote {
  margin: 0;
  padding: 1px 5px 1px 20px;
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  border-color: #1a1a1a; 
  border-radius: 3px;
}

.notfound {
  display: block;
  margin: auto;
  border-color: rgb(26, 26, 26);
  border-style: solid;
  border-width: 0px 30px;
  border-radius: 5px;
}

